@model OrderModel

<table id="tbOrderDetails" class="table table-responsive table-bordered table-hover">
    <thead>
    <tr>
        <th>STT</th>
        <th>Sản phẩm</th>
        <th>Số lượng</th>
        <th>Đơn giá</th>
    </tr>
    </thead>
    @for (var i = 1; i <= Model.OrderDetails.Count; i++)
    {
        <tr>
            <td>@i</td>
            <td>@Model.OrderDetails[i - 1].Product.ProductId - @Model.OrderDetails[i - 1].Product.ProductName</td>
            <td>@Model.OrderDetails[i - 1].Quantity</td>
            <td>@Model.OrderDetails[i - 1].Price</td>
        </tr>
    }
</table>