@model PagedList.IPagedList<Order>

@{
    ViewBag.Title = "Quản lý sản phẩm";
}

@section pluginStyles
{
    <link href="~/Content/PagedList.css" rel="stylesheet" />
    <link href="~/Content/AdmGrid.css" rel="stylesheet" />
}

<div class="row">
    <div class="col-md-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Danh sách hóa đơn</h5>
                <div class="ibox-tools">
                    @(Html.Bootstrap()
                          .ActionLink("Thêm hóa đơn", "Create")
                          .Class("btn btn-primary btn-xs")
                          .PrependIcon("fa fa-plus"))
                </div>
            </div>
            <div class="ibox-content p-sm">
                <!-- Phần hiển thị Form tìm kiếm -->
                <div class="row">
                    <div class="col-md-6 m-b-sm">

                        @using (Html.BeginForm("Index", "Order", FormMethod.Get, new { @class = "form-horizontal", role = "search", id = "searchEntity" }))
                        {
                            <div class="input-group">
                                @(Html.TextBox("Keyword", null, new
                            {
                                placeholder = "Nhập từ khóa hoặc nội dung cần tìm",
                                @class = "input-sm form-control"
                            }))

                                @Html.Hidden("PageSize", (int)ViewBag.CurrentPageSize, new { id = "pageSize" })
                                @*@Html.Hidden("CateId", (long)ViewBag.CateId, new { id = "cateId" })
                                @Html.Hidden("SuppId", (long)ViewBag.SuppId, new { id = "suppId" })*@
                                @Html.Hidden("Status", (int)ViewBag.CurrentStatus, new { id = "supStatus" })

                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-sm btn-primary">Tìm kiếm</button>
                                    @(Html.ActionLink("Bỏ lọc", "Index", null,
                                          new { @class = "btn btn-sm btn-warning" }))
                                </span>
                            </div>
                        }

                    </div>
                    <div class="col-md-6 m-b-sm">
                        @(Html.DropDownList("supStatus", null,
                              new { @class = "input-sm dropdown-width", id = "statusSelect" }))
                    </div>
                </div>
                <table id="tblProducts" class="table table-responsive table-bordered table-hover tbldata">
                    <thead>
                        <tr>
                            <th width="50px" class="hidden-xs">
                                MHĐ
                            </th>
                            <th>Thông tin hóa đơn</th>
                            <th class="hidden-sm hidden-xs" width="150px">Thanh toán</th>
                            <th width="70px"></th>
                        </tr>
                    </thead>
                    <tbody>

                        @if (Model.Count == 0)
                        {
                            <tr>
                                <td colspan="4">
                                    Không thể tìm thấy hóa đơn nào
                                </td>
                            </tr>
                        }
                        else
                        {
                            foreach (var item in Model)
                            {
                                //@Html.Partial("_ListItem", item)
                            }
                        }
                    </tbody>

                </table>
                <!-- Phần hiển thị thanh phân trang -->
                <div class="row">
                    <div class="col-md-6 m-b-sm text-center">
                        Hiển thị
                        @(Html.DropDownList("PageSize", null,
                              new { @class = "input-sm", id = "pageSelect" }))
                        mẫu tin
                    </div>
                    <div class="col-md-6 text-center">
                        @Html.PagedListPager(
                            Model,
                            page => Url.Action(
                                "Index",
                                new
                                {
                                    page,
                                    pageSize = ViewBag.CurrentPageSize,
                                    keyword = ViewBag.Keyword,
                                    status = ViewBag.CurrentStatus
                                }),
                            PagedListRenderOptions.ClassicPlusFirstAndLast)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="hidden">
    <div id="delete-dialog-confirm" title="Xóa khách hàng">
        <p id="delete-dialog-text">
            <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        </p>
    </div>

</div>

@section scripts
{
    <script src="~/Scripts/custom/index.js"></script>
    <script>
        $(function () {
            $("#tblProducts").on("click", "[data-toggle-state=true]", function (e) {
                var $this = $(this);
                var url = $this.attr("data-url");
                var args = $this.attr("data-args");
                $.post(url,
                    { "args": args },
                    function (data) {
                        if (data.Result) {
                            $this.attr("data-args", data.Messege);
                            $this.toggleClass("true");
                        } else {
                            alert(data.Message);
                        }
                    });
            });
            $(".delete-customer").on("click", function (e) {
                e.preventDefault();
                $("#delete-dialog-text").html("Bạn có chắc chắn xóa không?");
                var url = $(this).attr("href");
                var tr = $(this).closest('tr');
                $("#delete-dialog-confirm").dialog({
                    resizable: false,
                    draggable: false,
                    height: 150,
                    width: 500,
                    modal: true,
                    buttons: {
                        "Xóa khách hàng": function () {
                            $("#delete-dialog-text").html("Đang xóa. Xin chờ một chút.......");
                            $("#delete-dialog-confirm").dialog("option", "buttons",
                            [
                                {
                                    text: "Cancel",
                                    icons: {
                                        primary: "ui-icon-heart"
                                    },
                                    click: function () {
                                        $(this).dialog("close");
                                    }
                                }
                            ]);
                            var that = this;
                            $.ajax({
                                type: "POST",
                                url: url,
                                success: function (data) {
                                    if (data.Success) {
                                        tr.remove();
                                        var tables = $("#tblCustomers tbody").find("tr").length;
                                        if (tables === 0) {
                                            window.location.reload(true);
                                        }
                                        $(that).dialog("close");
                                    }
                                    else {
                                        $("#delete-dialog-text").html(data.Message);
                                    }
                                },
                                error: function (xhr, ajaxOptions, thrownError) {
                                    $("#delete-dialog-text").html(xhr.responseText);
                                }
                            });

                        },
                        Cancel: function () {
                            $(this).dialog("close");
                        }
                    }
                });
            });
        });
    </script>
}
