@model LoginViewModel
@{
    ViewBag.Title = "Đăng nhập";
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}

@section pluginStyles
{
    <style>
        .loginscreen.middle-box {
            width: 300px;
            margin-left: -200px;
            margin-top: -250px;
        }
    </style>
}
<div class="middle-box text-center loginscreen  animated fadeInDown">
    <div>
        <div>
            <h1 class="logo-name">SM</h1>
        </div>
        <h3>Chào mừng bạn đến SaleManager</h3>
        <p></p>
        <p></p>
        @using (Html.BeginForm("Login", "Account", new { ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", style = "padding: 0px 50px;" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.RememberMe)
                @Html.CheckBoxFor(m => m.RememberMe)
            </div>
            <input type="submit" value="Đăng nhập" class="btn btn-primary block full-width m-b" />
        }
        <p class="m-t">
            <small><strong>Copyrigh</strong> XKNguyen & ThuongLee &copy; 2016</small>
        </p>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}