<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ETesting</title>
    @Styles.Render("~/Content/admbootstrap")
    @RenderSection("pluginStyles", required: false)
    @Styles.Render("~/Content/admstyle")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="gray-bg">
@RenderBody()
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>