@model PagedList.IPagedList<Customer>

@{
    ViewBag.Title = "Quản lý khách hàng";
}

@section pluginStyles
{
    <link href="~/Content/PagedList.css" rel="stylesheet" />
    <link href="~/Content/AdmGrid.css" rel="stylesheet" />
}

<div class="row">
    <div class="col-md-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Danh sách khách hàng</h5>
                <div class="ibox-tools">
                    @(Html.Bootstrap()
                          .ActionLink("Thêm tài khoản", "Create")
                          .Class("btn btn-primary btn-xs")
                          .PrependIcon("fa fa-plus"))
                </div>
            </div>
            <div class="ibox-content p-sm">
                <!-- Phần hiển thị Form tìm kiếm -->
                <div class="row">
                    <div class="col-md-6 m-b-sm">

                        @using (Html.BeginForm("Index", "Customer", FormMethod.Get, new { @class = "form-horizontal", role = "search", id = "searchAccount" }))
                        {
                            <div class="input-group">
                                @(Html.TextBox("Keyword", null, new
                            {
                                placeholder = "Nhập từ khóa hoặc nội dung cần tìm",
                                @class = "input-sm form-control"
                            }))

                                @Html.Hidden("PageSize", (int)ViewBag.CurrentPageSize, new { id = "pageSize" })
                                @Html.Hidden("Status", (int)ViewBag.CurrentStatus, new { id = "supStatus" })

                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-sm btn-primary">Tìm kiếm</button>
                                    @(Html.ActionLink("Bỏ lọc", "Index", null,
                                          new { @class = "btn btn-sm btn-warning" }))
                                </span>
                            </div>
                        }

                    </div>
                    <div class="col-md-6 m-b-sm">
                        @(Html.DropDownList("supStatus", null,
                          new { @class = "input-sm dropdown-width", id = "statusSelect" }))
                    </div>
                </div>
                <table id="tblCustomers" class="table table-responsive table-bordered table-hover tbldata">
                    <thead>
                    <tr>
                        <th width="80px">Mã KH</th>
                        <th width="150px">Họ và tên</th>
                        <th class="hidden-sm hidden-xs">Thông tin khách hàng</th>
                        <th width="150px">Nợ</th>
                        <th width="100px"></th>
                    </tr>
                    </thead>
                    @if (Model.Count != 0)
                    {
                        
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @* ReSharper disable once AccessToForEachVariableInClosure *@
                                    @Html.DisplayFor(modelItem => item.CustomerId)
                                </td>

                                <td>
                                    @* ReSharper disable once AccessToForEachVariableInClosure *@
                                    @Html.DisplayFor(modelItem => item.FullName)
                                </td>

                                <td class="hidden-sm hidden-xs">
                                    @* ReSharper disable once AccessToForEachVariableInClosure *@
                                    Địa chỉ: @Html.DisplayFor(modelItem => item.Address)<br/>
                                    @* ReSharper disable once AccessToForEachVariableInClosure *@
                                    SĐT: @Html.DisplayFor(modelItem => item.PhoneNumber)<br/>
                                </td>

                                <td>
                                    @* ReSharper disable once AccessToForEachVariableInClosure *@
                                    @Html.DisplayFor(modelItem => item.Lack)
                                </td>

                                <td>
                                    @(Html.Bootstrap()
                                          .ActionLink("", "Dept", "Order")
                                          .RouteValues(new { item.CustomerId })
                                          .Title("Quản lý công nợ khách hàng")
                                          .AppendIcon("fa fa-money fa-2x"))
                                    @(Html.Bootstrap()
                                          .ActionLink("", "Edit")
                                          .RouteValues(new {item.CustomerId})
                                          .Title("Cập nhật thông tin khách hàng")
                                          .AppendIcon("fa fa-pencil fa-2x"))
                                    @(Html.Bootstrap()
                                          .ActionLink("", "Delete")
                                          .RouteValues(new {item.CustomerId})
                                          .Title("Xóa thông tin khách hàng")
                                          .AppendIcon("fa fa-trash-o fa-2x"))
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr><td colspan="5">Không có khách hàng nào</td></tr>
                    }
                </table>

                <!-- Phần hiển thị thanh phân trang -->
                <div class="row">
                    <div class="col-md-6 m-b-sm text-center">
                        Hiển thị
                        @(Html.DropDownList("PageSize", null,
                          new { @class = "input-sm", id = "pageSelect" }))
                        mẫu tin
                    </div>
                    <div class="col-md-6 text-center">
                        @Html.PagedListPager(
                        Model,
                        page => Url.Action(
                            "Index",
                            new
                            {
                                page,
                                pageSize = ViewBag.CurrentPageSize,
                                keyword = ViewBag.Keyword,
                                status = ViewBag.CurrentStatus
                            }),
                        PagedListRenderOptions.ClassicPlusFirstAndLast)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
}
